openapi: 3.1.0
info:
  title: Google Cloud Load Balancing BackendServices ForwardingRules API
  description: Provides programmatic access to manage load balancers, backend services, health checks, URL maps, and forwarding rules for distributing traffic across Google Cloud resources.
  version: v1
  contact:
    name: Google Cloud
    url: https://cloud.google.com/load-balancing/docs
servers:
- url: https://compute.googleapis.com/compute/v1
  description: Google Cloud Load Balancing production endpoint
security:
- oauth2:
  - https://www.googleapis.com/auth/compute
tags:
- name: ForwardingRules
  description: Manage forwarding rules for directing traffic
paths:
  /projects/{project}/global/forwardingRules:
    get:
      operationId: listForwardingRules
      summary: Google Cloud Load Balancing List forwarding rules
      description: Retrieves the list of forwarding rules available to the specified project.
      tags:
      - ForwardingRules
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForwardingRuleList'
components:
  schemas:
    ForwardingRuleList:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/compute: Manage your Google Compute Engine resources
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform resources
